body {
  font-family: Roboto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0 96px;
}

.header-logo {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.top-container {
  background-color: #1f2937;
  display: flex;
  padding: 64px 96px;
  gap: 128px;
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.top-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.top-txt {
  display: flex;
  color: #e5e7eb;
}

button {
  width: 96px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 6px;
}

.top-img {
  width: 350px;
}

.mid-container {
  display: flex;
  flex-direction: column;
  padding: 48px;
}

.mid-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding: 16px;
}

.mid-box {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-bottom: 32px;
}

.img-txt {
  display: flex;
  flex-direction: column;
  width: 175px;
  text-align: center;
  gap: 8px;
}

.low-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 96px 128px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color:#1f2937;
}

.citation {
  font-weight: 900;
  font-size: 24px;
  margin-left: auto;
}

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px;
}

.footer {
  display: flex;
  background-color: #3882f6;
  padding: 36px 128px;
  justify-content: space-between;
  align-items: center;
  gap: 128px
}

.call {
  color:#f9faf8;
}

.call-title {
  font-weight: 900;
  font-size: 24px;
}